@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* PAGE CONTAINER ( LAYOUT )  STYLING */
.container{
    font-family: "Roboto Flex", sans-serif;
    width: 100%;
    min-height: 100vh;
    background: url("/assets/img/cvbg.avif") no-repeat center center/cover fixed;
    position: relative;
    z-index: 1;
}
.overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background: linear-gradient(to bottom, #2F2F2F, #1A1A1A);
    filter: opacity(0.8);
    z-index: -1;
}
.bottom-overlay{
    width: 100%;
    height: 20vh;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, #2F2F2F, #1A1A1A);
    filter: opacity(0.9) blur(0.8rem);
    z-index: -1;
}
/* END OF PAGE CONTAINER ( LAYOUT )  STYLING */

/* NAV BAR STYLING */
header{
    width: 100%;
    height: 10vh;
    padding: 20px;
}
#nav{
    display: flex;
    justify-content: space-between;
}
#nav img{
    width: 10rem;
    position: relative;
    top: -0.5rem;
    left: 4rem;
}
.links{
    display: flex;
    list-style: none;
    position: relative;
    bottom: -0.8rem;
}
.links a{
    color: #ffffff;
    text-decoration: none;
    padding: 0 2rem;
    font-size: 1.5rem;
    font-weight: 300;
}
span{
    color: #ffcc00;
}
#nav .login-btn{
    height: 5vh;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    color: #666666;
    font-weight: 700;
    margin-right: 5rem;
    margin-top: -0.2rem;
    background: #ffcc00;
    border: 1px solid;
    border-radius: 0.4rem;
    cursor: pointer;
}
#nav .menu-btn{
    display: none;
}
/* END OF NAV BAR STYLING */

/* FORM CONTAINER STYLING */
.form-container{
    display: flex;
    justify-content: center;
    box-shadow: #666666 0 0 1px 1px;
    border-radius: 1rem;
    width: 60%;
    height: 70vh;
    place-self: center;
    margin-top: 4rem;
}

/* FORM IMAGE STYLING */
.form-container .img-container{
    width: 50%;
}
.form-container .img-container img{
    width: 100%;
    height: 69.5vh;
    border-radius: 0.8rem 0 0 1rem;
    filter: opacity(0.7);
}
.form-container .img-text{
    position: relative;
    top: -70vh;
    text-align: center;
    padding: 0 4rem;
    color: #ffffff;
    font-size: 1.2rem;
    background: linear-gradient(to bottom, #2F2F2F, #1A1A1A);
    filter: opacity(0.6);
    width: 100%;
    height: 69.5vh;
    border-radius: 0.8rem 0 0 1rem;
}
.form-container .img-text h3{
    padding-top: 10rem;
    margin-bottom: 1rem;
    letter-spacing: 0.2rem;
}
form .login-container{
    padding: 2rem;
}
form{
    width: 50%;
    background: #302f2fd8;
    border-radius: 0 0.8rem 0.8rem 0;
}
/* FORM HEADER */
form h2{
    text-align: center;
    color: #ffffff;
    margin: 1rem;
    letter-spacing: 0.2rem;
}

/* FORM INPUT FIELD */
form .field{
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    font-size: 1.2rem;
    border: 0.8px solid #666666;
    border-radius: 0.4rem;
}
form .field input{
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 0.4rem;
}
form .field input:focus{
    outline: none;
}
.field-password{
    background: #ffffff;
}
form .field p{
    padding-right: 1rem;
    padding-top: 0.5rem;
    border-radius: 0 0.4rem 0.4rem 0;
    background: #ffffff;
    color: #666666;
}
.form-inputs .forgot-password{
    margin-bottom: 2rem;
    font-size: 1.2rem;
}
.form-inputs .forgot-password a{
    text-decoration: none;
    color: #ffcc00;
}

/* FORM LOGIN BUTTON */
.field .btn-login{
    width: 100%;
    border: none;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 0.4rem;
    font-weight: bold;
    color: #666666;
    background: #ffcc00;
    cursor: pointer;
}

/* FORM FOOTER */
form .form-footer{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 1.2rem;
    gap: 0.5rem;
    color: #ffffff;
}
form .form-footer a{
    text-decoration: none;
    color: #ffcc00;
}
/* END OF FORM CONTAINER STYLING */


/* PAGE RESPONSIVENESS */
/* TAB MEDIA QUERY */
@media (min-width: 600px) and (max-width: 1200px) {
    /* layout styling */
    .bottom-overlay{
   display: none;
}
/* end of layout styling */

    /* nav bar styling */
#nav img{
    width: 10rem;
    top: -0.5rem;
    left: 1rem;
}
.links{
    bottom: -0.8rem;
}
.links a{
    padding: 0 1rem;
    font-size: 1.3rem;
    font-weight: 200;
    letter-spacing: .2rem;
}
#nav .login-btn{
    height: 4vh;
    letter-spacing: .2rem;
    color: #000;
    font-weight: bold;
    background: #ffffff;
    padding: 0 1.2rem;
    font-size: 1.3rem;
    font-weight: 500;
    margin-right: 2rem;
    margin-top: -0.2rem;
    border-radius: 0.4rem;
}
/* end of nav bar styling */

/* form styling */
.form-container{
    width: 95%;
    height: 50vh;
    margin-top: 10rem;
    border: 1px solid #ffffff;
}
.form-container .img-container{
    width: 50%;
}
.form-container .img-container img{
    height: 50vh;
}
.form-container .img-text{
    top: -50.15vh;
    padding: 0 3rem;
    padding-top: 3rem;
    letter-spacing: .2rem;
}
form .login-container{
    margin-top: 2rem;
    letter-spacing: .2rem;
}
}
@media (min-width: 910px) and (max-width: 1200px) {
    .form-container{
    margin-top: 5rem;
}
}
/* MOBILE MEDIA QUERY */
@media (min-width: 300px) and (max-width: 600px) {
    /* layout styling */
    .bottom-overlay{
   display: none;
}
/* end of layout styling */

    /* nav bar styling */
#nav img{
    width: 9rem;
    top: -0.01rem;
    left: .5rem;
}
.links{
    display: none;
}

#nav .login-btn{
    display: none;
}
#nav .menu-btn{
    font-size: 2.5rem;
    padding: .1rem .5rem;
    background: transparent;
    border: none;
    color: #ffcc00;
    margin-right: 0.5rem;
    display: block;
    z-index: 5;
}
/* end of nav bar styling */

/* form styling */
.form-container{
    width: 90%;
    height: auto;
}
.form-container .img-container{
    display: none;
}
form .login-container{
    letter-spacing: .2rem;
}
form{
    margin-top: -2.5rem;
    width: 100%;
}
form h2{
    margin: 2rem;
    /* margin-top: 0; */
    letter-spacing: 0.2rem;
}

/* FORM INPUT FIELD */
form .field input{
    font-size: 1.2rem;
    letter-spacing: .2rem;
}
form .field p{
    font-size: 1.5rem;
}
/* FORM FOOTER */
form .form-footer{
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.links.menu-link{
 display: block;   
 position: absolute;
 top: 6rem;
 background: #ffffff;
 height: 18rem;
 width: 90%;
 border-radius: 0.4rem;
 z-index: 5;
 box-shadow: #ffffff 1px 5px 5px 1px;
}
.links.menu-link li{
    margin: 2rem;
}
.links.menu-link a{
    color: #000;
    font-weight: 400;
}
.mobile-overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background: linear-gradient(to bottom, #2F2F2F, #1A1A1A);
    filter: opacity(0.9) blur(1px);
    z-index: 1;
    display: none;
}
}
